<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title> Some Website </title>
</head>
<body>

</body>
    {{> header}}
      </br>
      <h1>{{screamIt welcomeMsg}}</h1>
      </br>
      <p>Please excuse our dust!</p>
    {{> footer}}
</body>
</html>
